.container {
    text-align: center;
    padding: 40px;
    min-height: 100vh;
}

.heading {
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
}

.comparisonTable {
    display: flex;
    justify-content: space-between; 
    gap: 40px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.column {
    background-color: rgba(19, 19, 19, 0.7);
    backdrop-filter: blur(60px) saturate(180%);
    -webkit-backdrop-filter: blur(60px) saturate(180%);
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    flex: 1;
    min-width: 45%;
}

.column h2 {
    font-size: 1.5rem;
    color: #ff0000;
}

.column p {
    font-size: 1rem;
    color: white;
}

.searchBar {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 1rem;
    box-sizing: border-box;
}


.VehicleCardTopStats{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.statsList dl dt dd{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
}

.statBox {
    background-color: rgba(26, 26, 26, 0.9);
    backdrop-filter: blur(60px) saturate(180%);
    -webkit-backdrop-filter: blur(60px) saturate(180%);
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: white;
    padding: 5px;
    border-radius: 8px;
    text-align: center;
    transition: transform 0.2s ease;
    will-change: transform;
}

.statBox:hover {
    transform: scale(1.05);
    color: #ff0000;
}

/* Suggestions Dropdown */
.suggestionsDropdown {
    position: absolute;
    top: calc(100% - 5px);
    left: 10%;
    width: 80%;
    max-height: 300px;
    overflow-y: auto;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.suggestionItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 12px;
    cursor: pointer;
    color: #222222;
    border-bottom: 1px solid #cccccc;
    transition: background-color 0.2s ease;
    background-color: #ffffff;
}

.suggestionItem:hover {
    background-color: #d9d9d9;
}

.suggestionItem:last-child {
    border-bottom: none;
}

.suggestionText {
    flex: 1;
    text-align: left;
    font-size: 0.76rem;
}

.suggestionYear {
    font-weight: bold;
    color: #444444;
    font-size: 0.76rem;
    margin-left: 10px;
}
